{{template "base"}} {{define "main"}}

<div class="container">
    <div class="fs-1 fw-bold my-3">About us</div>
    <p>
        Welcome to <b>Tyres.kz</b>, your premier destination for buying and selling vehicles online. At <b>Tyres.kz</b>, we understand the importance of convenience, reliability, and transparency when it comes to purchasing or selling a
        vehicle. That's why we've created a user-friendly platform that connects buyers and sellers seamlessly.
    </p>
    <p>
        With <b>Tyres.kz</b>, you can browse a wide selection of vehicles from the comfort of your own home. Our platform features detailed listings with photos, specifications, and pricing information, making it easy to find the perfect
        vehicle for your needs and budget.
    </p>
    <p>
        For sellers, <b>Tyres.kz</b> offers a convenient way to list your vehicle and reach potential buyers across Kazakhstan. Our user-friendly interface allows you to create detailed listings quickly and easily, maximizing your chances
        of selling your vehicle quickly and for a fair price.
    </p>
    <div class="fs-3 fw-bold">Our Team</div>
    <div class="fs-5">
        <p>Meet the dedicated team behind Tyres.kz:</p>
        <ul>
            <li><strong>Yelnur Abdrakhmanov - Fullstack Dev</strong> <a class="text-decoration-none" href="https://github.com/prenl">@prenl</a></li>
            <li><strong>Karen Ananyan - Backend Dev</strong> <a class="text-decoration-none" href="https://github.com/DeKarLo">@DeKarLo</a></li>
            <li><strong>Arsen Zhamshitov - Frontend Dev and Head of Design</strong> <a class="text-decoration-none" href="https://github.com/Qanysh">@Qanysh</a></li>
        </ul>
        <p>Thank you for choosing Tyres.kz for all your vehicle buying and selling needs. We look forward to serving you!</p>
    </div>
</div>

{{end}}
