{{template "base"}} {{define "main"}}
<div class="container">
    <div class="row mt-3">
        <h1>Welcome to Tyres.kz!</h1>
        <p>We offer a wide range of tires for all vehicles. <br />Explore our selection and find the perfect tires for your needs.</p>
    </div>
    <div class="row justify-content-between">
        <img src="https://avatars.mds.yandex.net/get-vertis-journal/3934100/pagani-huayra-bc-con-pacchetto-tempesta_1.jpg_1628242355559/orig" alt="Pagani Huayra BC" class="img-fluid rounded-3 col-3 col-md-3" />
        <img
            src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/facelift_2019/model_detail/huracan/sto/connected_car/hura_connect_over_04_m.jpg"
            alt="Lamborghini Huracan STO SuperLeggera"
            class="img-fluid rounded-3 col-3 col-md-3"
        />
        <img src="https://ramtruck.ru/images/web/5863/RM023_330FN-scaled-e1683695947925.jpg" alt="Dodge SRT RAM TRX" class="img-fluid rounded-3 col-3 col-md-3" />
        <img
            src="https://lh3.googleusercontent.com/proxy/AYpb5Wd8US6A8FX8kS8ohDDL2mhRM2XlOPYiGx6cvJBlZCL4dlxBjS7iXyenJCNr3NfxucnwNYNIYfTi-mXWS8YFzWiVPLWAX0SGLzZyeDy0lTd9J1iOaH4fcw"
            alt="Audi RS6 C7 ABT"
            class="img-fluid rounded-3 col-3 col-md-3"
        />
    </div>
    <div class="row justify-content-start mt-4">
        <a href="/posts" class="btn btn-primary col-12 col-md-3 py-3 mx-2">Check out the cars</a>&nbsp;
        <a href="/about" class="btn btn-primary col-12 col-md-3 py-3 mx-2">About us</a>
    </div>
</div>
{{end}}
