<div class="container mt-3">
    {{if .}}
    <div class="alert alert-success">{{.}}</div>
    {{end}}
    <h2 class="mb-4">User Profile</h2>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title mb-3">Username</h5>
            <p class="card-text"><strong>Email:</strong> user@example.com</p>
            <p class="card-text"><strong>Phone:</strong> +123456789</p>
            <p class="card-text"><strong>Hashed Password:</strong> 5f4dcc3b5aa765d61d8327deb882cf99</p>
            <p class="card-text"><strong>Created At:</strong> 2021-01-01 12:00:00</p>
            <p class="card-text"><strong>Updated At:</strong> 2021-01-02 12:00:00</p>
            <p class="card-text align-items-center d-flex">
                <strong>Admin Status:&nbsp;&nbsp;</strong>
                <span class="badge bg-success">Admin</span>
            </p>
        </div>
    </div>
</div>
